:root{
  --yellow: #dcdf43;
  --blue: #031f7e;
  --red: rgb(187, 48, 6);
  box-sizing: border-box  ;
  margin: 0;
}


.btn-blue{
  background-color: var(--blue);
  
}
.btn-blue:hover, .btn-orange:hover  , .btn-red:hover{
  opacity: 80%;
  color: rgba(240, 255, 255, 0.815);
  transform: scale(1.01);
  transition: all 1s;
}
.btn-orange{
  background-color:  #ff9900;
}
.btn-red{
  background-color: var(--red);
}
.back-link {
    color: #ff9900;
    font-weight: 600;
    text-decoration: none;
}

.back-link:hover {
  color: #333;
}

.second-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--blue);
    color: white;
    padding: 10px 10px;
    width: fit-content;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s, transform 0.2s;
    text-decoration: none;
}

.second-action:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}

.action-btn {
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  width: fit-content;
  height: 44px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, transform 0.2s;
  text-decoration: none;
}

.action-btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

.action-btn:active {
  opacity: 0.7;
  transform: translateY(0);
}