:root{
  --yellow: #dcdf43;
  --blue: #031f7e;
  --red: rgb(187, 48, 6);
  box-sizing: border-box  ;
  margin: 0;
}


.btn-blue{
  background-color: var(--blue);
  
}
.btn-blue:hover, .btn-orange:hover  , .btn-red:hover{
  opacity: 80%;
  color: rgba(240, 255, 255, 0.815);
  transform: scale(1.01);
  transition: all 1s;
}
.btn-orange{
  background-color:  #ff9900;
}
.btn-red{
  background-color: var(--red);
}