.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    box-sizing: border-box;
    margin: 25px auto;    
    color: #212529;
}

.container h2 {
    text-align: center;
    color: #212529;
    margin-top: 0;
    margin-bottom: 25px;
    border-bottom: 2px solid #ff9900;
    padding-bottom: 10px;
}