.app-layout {
  display: grid;
  /* Define duas colunas: a sidebar e o conteúdo principal */
  grid-template-columns: 250px 1fr; 
  width: 100vw;
  height: 100vh;
  transition: grid-template-columns 0.3s ease;
}

/* Quando a classe .sidebar-collapsed é aplicada, a primeira coluna (sidebar) diminui */
.app-layout.sidebar-collapsed {
  grid-template-columns: 80px 1fr;
}

.app-content {
  padding: 30px;
  overflow-y: auto;
  background-color: #f0f2f5;
  height: 100vh;
  box-sizing: border-box;
}