.modal-overlay {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 30px 40px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-btn {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
}

.optional-fields {
    border: 1px solid #e9ecef;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px 20px;
}

.optional-fields legend {
    font-weight: 600;
    color: #6c757d;
    padding: 0 10px;
    font-size: 0.9em;
}
input{
    background-color: inherit;
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 35px;
    color: #6c757d;
    padding: 0 6px ;
}