.integrador-header {
    text-align: center;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.integrador-header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #343a40;
}

.integrador-header .contato {
    font-size: 1.1em;
    color: #adb5bd;
    margin-top: 5px;
}

.clientes-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clientes-section-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #495057;
    border-bottom: 3px solid #ff9900;
    padding-bottom: 5px;
}

.clientes-section-header .action-btn {
    color: white;
    font-weight: 600;
    padding: 10px 20px;
}

.clientes-lista-detalhe {
    list-style-type: none;
    padding: 0;
}

.clientes-lista-detalhe li {
    background-color: transparent;
    padding: 20px 10px;
    border-bottom: 1px solid #f1f3f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.clientes-lista-detalhe li:last-child {
    border-bottom: none;
}

.clientes-lista-detalhe li:hover {
    background-color: #f8f9fa;
    border-radius: 8px;
}

.cliente-dados {
    flex-grow: 1;
}

.cliente-nome {
    font-weight: 600;
    font-size: 1.1em;
    color: #495057;
}

.cliente-dados small {
    color: #adb5bd;
}

.cliente-acoes {
    display: flex;
    gap: 10px;
}

.cliente-acoes .action-btn {
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.cliente-acoes .icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 38px;
    padding: 0;
    font-size: 18px;
    transition: opacity 0.2s;
}

.cliente-acoes .icon-btn:hover {
    opacity: 0.85;
}


/* CORREÇÃO AQUI: A cor do ícone agora é branca */
.ver-faturas-btn svg {
    color: white;
}

.gerar-fatura-btn,.ver-faturas-btn {
    background-color: #031f7e;
    border-radius: 8px;
}
.add-instalacao-btn{
    background-color: #ff9900;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 40px;
    color: #ff9900;
    font-weight: 600;
    text-decoration: none;
}

.error-message {
    color: #842029;
    background-color: #f8d7da;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}