/* O .container dentro do .app-content ocupará o espaço corretamente */
.app-content .container {
    width: 100%;
    max-width: none;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}